

svg {
  border: 1px solid #333;
}

#info {
  box-sizing: border-box;
  border: 1px solid #DEDEDE;
  padding: 10px;
  width: 300px;
}

#info p {
  margin: 0;
  padding: 1px;
}


/* Other CSS Style reference from Pure CSS */

.manipulate input {
  width: 70px;
  padding: .5em .6em;
  display: inline-block;
  margin: 3px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

button {
  font-family: "微軟正黑體";
  font-size: 100%;
  padding: .5em .6em;
  color: #444;
  color: rgba(0, 0, 0, .8);
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

button:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

.wizard {
  position: relative;
}

.alert {
  position: absolute;
  font-weight: bold;
  top: 300px;
  right: 0px;
  left: 0px;
  color: rgb(56, 56, 56);
  display: block;
  height: 50px;
  text-align: center;
}

.select-stair {
  fill: rgb(255, 132, 0);
}

.selecter-close {
  display: none;
}

.info-list {
  border: 1px solid tomato;
  border-radius: 2px;
  max-height: 390px;
  overflow-y:scroll;
}

.bar {
  position: absolute;
    top: 40%;
    background-color: rgba(40,40,40,0.2);
    width: 100%;
    display: none;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.bar-content {
  display: flex;
    justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tab-content {
  width: 100%;
}

/* 設定svg 容器的大小 */
.svg-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
}

/* 設定svg tool box 的樣式位置 */
.svg-toolbox-mode {
  position: absolute;
  display: flex;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.25rem;
  background-color: rgb(119 255 139 / 50%);
}

.svg-toolbox-select {
  position: absolute;
  display: block;
  top: 3.5rem;
  left: 0.5rem;
  padding: 0.25rem;
  background-color: rgb(119 255 139 / 50%);
}

/* 設定svg 選取元件的 位置 */
.info-list-control {
display: block;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    background-color: tomato;
    min-width: 140px;
    padding: 0.45rem 1.1rem;
    border: none;
    border-radius: 5px;
}

/* 上傳檔案區塊TODO */
#upload-form {
  display: none;
}